<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Account - {{ username }}</title>
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/site.css">

  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/menu.css">

  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/form.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/message.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/icon.css">

  <script src="assets/library/jquery.min.js"></script>
  <script src="../../../../static/semantic/dist/components/form.js"></script>
  <script src="../../../../static/semantic/dist/components/transition.js"></script>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
	.ui.vertical.segment
	{
		margin-top: 16em;
	}
  </style>
</head>
<body>
<div class="ui large top inverted fixed menu" id="topmenu" style="background:#0B90D2">
	<a class="item"> <i class="grid layout icon"></i> {{ username }} </a>
    	<a class="ui simple dropdown item"> More<i class="dropdown icon"></i> </a>
    	<a class="item"> <i class="edit icon"></i>Write </a>
            <div class="right menu">
            
                <div class="item">
                    <div class="ui primary button">Sign Up</div>
                </div>
                <div class="item">
                    <a class="ui button" href = "/logout/">Logout</a>
                </div>
            </div>

</div>
<div class="feature alternate large ui stripe vertical segment">
<div class="ui middle aligned three column relaxed stackable center aligned grid container">
			<div class="row">
                                <h1 class="ui teal header">
                                        Profile | Read | Write
                            	</h1>
                    	</div>
			<div class="row">
                                <div class="column">
                                    <a class="ui right labeled large icon button" href = "/test/username/{{ username }}/profile/">
                                        <i class="right arrow icon"></i> Complete your Profile
                                    </a>
                                </div>
                                <div class="column">
				    <a class="ui right labeled large icon button" href = "/test/username/{{ username }}/read/">
                                        <i class="right arrow icon"></i> Read Feed
                                    </a>
                                    
                                </div>
                                <div class="column">
                                    <a class="ui right labeled large icon button" href = "/test/username/{{ username }}/write/">
                                        <i class="right arrow icon"></i> Write a Blog
                                    </a>

                                </div>
                    	</div>
</div>
</div>


</body>

