<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Login Example - Semantic</title>
  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/site.css">

  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/menu.css">

  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/form.css">
  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/message.css">
  <link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/icon.css">

  <script src="assets/library/jquery.min.js"></script>
  <script src="../static/semantic/dist/components/form.js"></script>
  <script src="../static/semantic/dist/components/transition.js"></script>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            username: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your username'
                },
                {
                  type   : 'length[50]',
                  prompt : ''
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
</head>
<body>
<div class="ui large top inverted fixed menu" id="topmenu" style="background:#0B90D2">
	<a class="item"> <i class="grid layout icon"></i> {{ username }} </a>
    	<a class="ui simple dropdown item"> More<i class="dropdown icon"></i> </a>
    	<a class="item"> <i class="edit icon"></i>Write </a>
            <div class="right menu">
            
                <div class="item">
                    <a class="ui primary button" href = "/test/register/">Sign Up</a>
                </div>
                <div class="item">
                    <a class="ui button" href = "/test/login/">Login</a>
                </div>
            </div>

</div>


<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui teal image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        miniq
      </div>
    </h1>
	<h2 class = "ui blue header">
		<div class = "content">
		Blogging web app
		</div>
	</h2>
  </div>
</div>

</body>

</html>
