<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Login Example - Semantic</title>
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/site.css">

  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/menu.css">

  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/form.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/message.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/icon.css">

  <script src="assets/library/jquery.min.js"></script>
  <script src="../../../../static/semantic/dist/components/form.js"></script>
  <script src="../../../../static/semantic/dist/components/transition.js"></script>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
</head>
<body>

<div class="ui large top inverted fixed menu" id="topmenu" style="background:#0B90D2">
	<a class="item"> <i class="grid layout icon"></i> {{ username }} </a>
    	<a class="ui simple dropdown item"> More<i class="dropdown icon"></i> </a>
    	<a class="item"> <i class="edit icon"></i>Write </a>
            <div class="right menu">
            
                <div class="item">
                    <div class="ui primary button">Sign Up</div>
                </div>
                <div class="item">
                    <a class="ui button" href = "/logout/">Logout</a>
                </div>
            </div>

</div>


<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        Complete your Profile
      </div>
    </h2>
    <form class="ui large form" method = "post" action = "/test/username/{{ username }}/profile/">
      {% csrf_token %}
      <div class="ui stacked segment">
	<div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="text" name="dob" placeholder="When did you land on Earth? - {{dob}}">
          </div>
        </div>
	<div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="text" name="topic" placeholder="Choose your favourite topic - {{topic}}">
          </div>
        </div>
	<div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="text" name="about" placeholder="Tell the world about you - {{about}}">
          </div>
        </div>
	<div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="text" name="occupation" placeholder="What do you do in your busy time? - {{occupation}}">
          </div>
        </div>
	<div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="text" name="organisation" placeholder="Where do you work? - {{organisation}}">
          </div>
        </div>
        <button class="ui right labeled icon medium button">
		<i class="right arrow icon"></i> Done? | Proceed
    	</button>
      </div>

      <div class="ui error message"></div>

    </form>
  </div>
</div>

</body>

</html>
