<html>

    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>{{ username }}</title>

        <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	  <!-- Site Properties -->
	  <title>Account - {{ username }}</title>
	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/reset.css">
	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/site.css">

	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/container.css">
	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/grid.css">
	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/header.css">
	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/image.css">
	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/menu.css">

	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/divider.css">
	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/segment.css">
	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/form.css">
	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/input.css">
	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/button.css">
	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/list.css">
	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/message.css">
	  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/icon.css">
		<link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/label.css">


	  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js"></script>
	  <script src="../../../../static/semantic/dist/components/form.js"></script>
	  <script src="../../../../static/semantic/dist/components/transition.js"></script>

	  <style type="text/css">
	    body {
	      background-color: #DADADA;
	    }
	    body > .grid {
	      height: 100%;
	    }
	    .image {
	      margin-top: -100px;
	    }
	    .column {
	      max-width: 450px;
	    }
		
		
		.ui.center.aligned.header
		{
			margin-top: 3em;
		}
	  </style>
	<script>

		$(document).ready(function() {
		/* $.ajax({	
			
			url: "/test/like/{{ username }}/{{ blog.id }}",
			success: function(response){
				
				alert("Liked");
				
		}
		}); */
		$(document).on('click', '.like', function() {
    			
			$(this).removeClass('pink').addClass('gray');
    			$(this).removeClass('like').addClass('unlike');
			$.ajax({
				url: "/test/like/{{ username }}/{{ blog.id }}/",
				success: function(response){
					$(this).text('Liked');
					alert("Liked");
				}
			}); 
		}),
		$(document).on('click', '.unlike', function() {
    			
			$(this).removeClass('gray').addClass('pink');
   	 		$(this).removeClass('unlike').addClass('like');
			
			$.ajax({
				type: 'POST',
				url: "/test/unlike/{{ username }}/{{ blog.id }}",
				success: function(response){
					$(this).text('Like');
					alert("Unliked");
				}
			});
		});

	});	
	</script>
	

        

    </head>

    <body>

<div class="ui large top inverted fixed menu" id="topmenu" style="background:#0B90D2">
	<a class="item"> <i class="grid layout icon"></i> {{ username }} </a>
    	<a class="ui simple dropdown item"> More<i class="dropdown icon"></i> </a>
    	<a class="item"> <i class="edit icon"></i>Write </a>
            <div class="right menu">
            
                <div class="item">
                    <div class="ui primary button">Sign Up</div>
                </div>
                <div class="item">
                    <a class="ui button" href = "/logout/">Logout</a>
                </div>
            </div>

</div>
        <!-- Page Contents -->
        <div class="pusher">
            <div id="container">
                <div class="ui main container">
                    <div class="ui stackable grid">

                        <div class="four wide column">

                            
                        </div>
                        <div class="eight wide column">
                            <h2 class="ui teal center aligned header">
			      
			      <div class="content">
				Read | Blog Feed | {{count}} posts
			      </div>
			    </h2>

			    {% for blog in blogs %}
				    
		                    <div class="ui segments">
		                        <div class="ui segment">
		                            <p>{{ blog.label }} |<a class = "right aligned"> Author - {{ blog.author }} </a></p>
						
		                        </div>
				
		                        <div class="ui secondary segment">
		                            <p><strong>Published on : {{ blog.date }}</strong>
						{{ blog.content }}
		                            </p>
		                        </div>
		                    </div>
					<div class="ui labeled button" tabindex="0">
				 	  
					  <div class="ui pink button like">
					    <i class="heart icon"></i> Like
					  </div>
					  
					  <a class="ui blue left pointing label">
					    {{ blog.upvotes }}
					  </a>
					</div>

                            {% endfor %}

                           
                           

                        </div>
                        <div class="ui two wide column">
                            
                         
                        </div>
                    </div>
                </div>

             
    </body>

  

</html>

