<!DOCTYPE html>
<html>

    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Akash Pallath | ExploreIIT</title>

        <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/semantic.min.css">

        <style type="text/css">
            body {
                background-color: #DADADA;
            }

            .ui.menu .item img.logo {
                margin-right: 1.5em;
            }

            .main.container {
                margin-top: 7em;
            }

            .wireframe {
                margin-top: 2em;
            }

            .ui.footer.segment {
                margin: 5em 0em 0em;
                padding: 5em 0em;
            }

            @media only screen and (max-width: 970px) {
                .ui.fixed.menu {
                    display: none !important;
                }
                .secondary.pointing.menu .item,
                .secondary.pointing.menu .menu {
                    display: none;
                }
                .toc.item {
                    display: block;
                    position: fixed;
                    z-index: 9999;
                }
                #topmenu {
                    display: none
                }
            }

            html:last-child {
                color: white;
            }
        </style>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="../../../../static/semantic/dist/semantic.min.js"></script>

        <script>
            $(document).ready(function() {
                $('.special.card .image').dimmer({
                    on: 'hover'
                });
            });
        </script>

    </head>

    <body>

        <div class="ui large top inverted fixed menu" id="topmenu" style="background:#0B90D2">

            

            <div class="item"> <i class="grid layout icon"></i> {{username}} </div>
            <a class="ui simple dropdown item"> More<i class="dropdown icon"></i> </a>
            <a class="item"> <i class="edit icon"></i>Write </a>
            <div class="right menu">
                
                <div class="item">
                    <div class="ui primary button">Sign Up</div>
                </div>
                <div class="item">
                    <div class="ui button">Logout</div>
                </div>
            </div>

        </div>

        <!-- Sidebar Menu -->
        <div class="ui vertical inverted sidebar menu">
            <a class="active item">Home</a>
            <a class="item" href="symposium.html">Symposium</a>
            <a class="item" href="conclave.html">Conclave</a>
            <a class="item" href="exhibition.html">Exhibition</a>
            <a class="item" href="events.html">Events</a>
            <div class="item">
                <div class="header">Past Sites</div>
                <div class="menu">
                    <a class="item" href="http://amalthea.iitgn.ac.in/2015/" target="_blank">2015</a>
                    <a class="item" href="http://amalthea.iitgn.ac.in/2014/" target="_blank">2014</a>
                    <a class="item" href="http://amalthea.iitgn.ac.in/2013/" target="_blank">2013</a>
                    <a class="item" href="http://amalthea.iitgn.ac.in/2012/" target="_blank">2012</a>
                </div>
            </div>

            <a class="item" href="sponsors.html">Past Sponsors and Partners</a>
        </div>

        <!------------------------------------------------------------------------------------------>

        <div class="pusher">
            <div id="container">
                <div class="ui container">
                    <button class="blue large circular ui icon button toc item">
                        <i class="icon sidebar"></i>
                    </button>
                </div>

                <div class="ui main container">
                    <div class="ui stackable grid">

                        <div class="four wide column">

                            <div class="ui special fluid card">
                                <div class="blurring dimmable image">
                                    <div class="ui dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <div class="ui inverted button">View Profile</div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="img/akash.png">
                                </div>

                                <div class="content">
                                    <div class="header">{{username}} <i class="check circle icon"></i><small>{{info.occupation}}<br>@arikpamnani</small></div>
                                    <div class="meta">
                                        {{info.organisation}}
                                        
                                    </div>
                                    <div class="description">
                                        {{info.about}}
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="header">Non- Academic Achievements</div>
                                    <div class="ui list">
                                        <div class="item">
                                            <div class="header">Inter-IIT Sports Meet</div>
                                            Bronze medal, Chess (Classical)
                                        </div>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <a>
                    			View {{username}}'s Profile
                		    </a>
                                </div>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui header">Blog Feed</div>
				
				{% for blog in blogs_written %}

		                    <div class="ui segments">
		                        <div class="ui segment">
		                            <p>{{ blog.label }} |<a class = "right aligned"> Author - {{ blog.author }} </a></p>
		                        </div>
		                        <div class="ui secondary segment">
		                            <p><strong>Published on : {{ blog.date }}</strong>
						{{ blog.content }}
		                            </p>     
		                        </div>
					<div class="ui labeled button" tabindex="0">
					{% if current_user not in blog.user_likes.all %} 
					  <a class="ui pink button" id = "like" href = "/test/like/{{ username }}/{{ blog.id }}/">
					    <i class="heart icon"></i> Like
					  </a>
					{% else %}
					  <a class="ui gray button" id = "unlike" href = "/test/unlike/{{ username }}/{{ blog.id }}/">
					    <i class="heart icon"></i> Liked
					  </a>
					{% endif %} 
					  <a class="ui blue left pointing label">
					    {{ blog.upvotes }}
					  </a>
					</div>
		                    </div>

				{% endfor %}

                            

                            

                            <div class="ui center aligned basic segment">
                                <div class="ui active text inline loader indeterminate">Loading More</div>
                            </div>
                        </div>
			<!---------------------------------------------------------------------------------------------------->
                        <div class="ui four wide column">
                            <div class="ui header">People you may watch out for</div> 
                        </div>
			<!---------------------------------------------------------------------------------------------------->
                    </div>
                </div>

                <div class="ui inverted vertical footer segment" style="background:#0B90D2">
                    <div class="ui center aligned container">
                        <div class="ui stackable inverted divided grid">

                            <div class="three column row">
                                <div class="column">
                                    <h2 class="ui icon header"> Connect Socially</h2>
                                    <div class="ui inverted list">
                                        <a class="ui circular facebook icon button" href="http://www.facebook.com/">
                                            <i class="facebook icon"></i>
                                        </a>

                                        <a class="ui circular twitter icon button" href="http://www.twitter.com/">
                                            <i class="twitter icon"></i>
                                        </a>
                                        <a class="ui circular youtube icon button" href="http://www.youtube.com/">
                                            <i class="youtube icon"></i>
                                        </a>


                                    </div>
                                </div>
                                <div class="column">
                                    <h2 class="ui icon header"> Associate partners</h2>
                                    <div class="ui inverted list">
                                        <a class="ui circular dropbox icon button" href="http://www.facebook.com/">
                                            <i class="dropbox icon"></i>
                                        </a>

                                        <a class="ui circular twitter icon button" href="http://www.twitter.com/">
                                            <i class="pinterest icon"></i>
                                        </a>
                                        <a class="ui circular google icon button" href="http://www.youtube.com/">
                                            <i class="google icon"></i>
                                        </a>


                                    </div>
                                </div>
                                <div class="column">
                                    <h2 class="ui icon header">Contact us</h2>




                                </div>
                            </div>


                        </div>
                        <div class="ui inverted section divider"></div>
                        <div class="ui horizontal inverted small divided link list">
                            <a class="item" href="#">Site Map</a>
                            <a class="item" href="#">Contact Us</a>
                            <a class="item" href="#">Privacy Policy</a>
                            <a class="item" href="#">Learn More</a>
                            <a class="item" href="#">About us</a>
                            <a class="item" href="#"></a>
                        </div>
                        <div class="ui inverted section divider"></div>
                        <div class="ui horizontal inverted divided link list">
                            <a class="item" style="line-height: 1em;">Disclaimer: ExploreIIT is in no way officially associated with the Indian Institutes of Technology or with the Joint Entrance Examination. We do not take any responsibility for the authenticity of the information posted by content writers (students at IITs) on this site.
                            <a class="item">&copy; 2016, Explore IIT</a>
                        </div>

                    </div>
                </div>
    </body>

    <script>
        $(document)
            .ready(function() {

                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item');

            });
        $('#iits')
            .popup({
                inline: true,
                hoverable: true,
                position: 'bottom left',
                delay: {
                    show: 300,
                    hide: 800
                }
            });
        $('.ui.dropdown')
            .dropdown();
    </script>


</html>

