<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Signup</title>
  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/site.css">

  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/menu.css">

  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/form.css">
  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/message.css">
  <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/components/icon.css">

  <script src="../../static/semantic/dist/components/form.js"></script>
  <script src="../../static/semantic/dist/components/transition.js"></script>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            username: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your username'
                },
                {
                  type   : 'length[50]',
                  prompt : ''
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            },
            passwordc: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please confirm your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            },




          }
        })
      ;
    })
  ;
  </script>
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        Register | It is free
      </div>
    </h2>
    <form class="ui large form" method = "post" action = "{{request.path.parent}}">
      {% csrf_token %}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail" value = "{{ email }}">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username" >
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui right labeled icon medium button">
	        <i class="right arrow icon"></i> Register | Proceed
    	</button>
      </div>

      <div class="ui error message">
      </div>

    </form>
    {% if errors != "" %} 
	    <div class="ui message {{color}}">
		{{ errors }}
	    </div>
    {% endif %}
    <div class="ui message">
      Already have an account? <a href="/test/login">Login</a>
    </div>
  </div>
</div>

</body>

</html>
