<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Write - {{ username }}</title>
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/site.css">

  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/menu.css">

  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/form.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/message.css">
  <link rel="stylesheet" type="text/css" href="../../../../static/semantic/dist/components/icon.css">

  <script src="assets/library/jquery.min.js"></script>
  <script src="../../../../static/semantic/dist/components/form.js"></script>
  <script src="../../../../static/semantic/dist/components/transition.js"></script>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        Write a Blog
      </div>
    </h2>
    <form class="ui large form" method = "post" action = "/test/username/{{username}}/write/">
      {% csrf_token %}
      <div class="ui stacked segment">
	<div class="field">
          <div class="ui left icon small input">
            <i class="edit icon"></i>
            <input type="text" name="label" placeholder="Label">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon large input">
            <i class="edit icon"></i>
            <textarea name = "content"></textarea>
          </div>
        </div>
        <button class="ui right labeled icon medium button">
		<i class="right arrow icon"></i> Submit | Proceed
    	</button>
      </div>

      <div class="ui error message"></div>

    </form>
  </div>
</div>

</body>

</html>
